
extends layout
block content
    section.hero.is-info
        div.hero-body
            div.container
                h1.title Kontakt
                h2.subtitle Nehmen sie über das Formular oder auf <a href="mailto:contact@sisko-solutions.ch">contact@sisko-solutions.ch</a> mit uns Kontakt auf
    section.section
        div.container.is-thin
            div.container.is-fluid
                p #{message}
                form(action='/kontakt', name='contact', id='contact', method='post')
                    div.field.half-width-form
                        label.label(for="contactname") Name
                        div.control
                        input#contactname.input(name='name', type='text', value=data.name required class=error.name)
                        
                        label.label(for="contactemail") Email
                        div.control
                            input#contactemail.input(name='email', type='text', value=data.email required class=error.mail)
                        
                        label.label(for="contactsubject") Betreff
                        div.control
                        input#contactsubject.input(name='subject', type='text', value=data.subject required class=error.subject)
                        
                        label.label(for="contactmessage") Nachricht
                        div.control
                        textarea#contactmessage.textarea(name='message', cols='40', rows='10' required  class=error.area) #{data.message}
                    input.button.is-info.submit(name='submit' type='submit' value='Absenden')
