doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bulma.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="viewport" content="width=device-width,initial-scale=1,height=device-height,initial-scale=1")
    meta(name="viewport" content="height=device-height,initial-scale=1")
    meta(name="description" content="Billige webseiten erstellen lassen Schweiz")
    meta(name="keywords" content="Sisko, Web, Solutions, Development, Website, Entwickeln")
    meta(name="author" content="Sisko Web Solutions")
    meta(name="copyright" content="Sisko Web Solutions")
    meta(name="robots" content="INDEX, FOLLOW")
    meta(name="viewport" content="initial-scale=1, viewport-fit=cover")
    meta(name="google-site-verification" content="CWkBJZA0neiSPX0DnH3kMeVJBRKWt7930Fo6VVJG308")
    script(src='/javascripts/main.js')

    //Captcha
    script(src='https://www.google.com/recaptcha/api.js')
  secret
    //KEKS
    <a href="/keks" style="display:none;">&nbsp;</a>
  body
    div.columns.is-centered
      div.column.is-half.is-flex.is-vcentered
        img.image.logo.is-hcentered(src="/images/logo_big_2.png")
    a(role="button" class="navbar-burger" data-target="mainNavBar" aria-label="menu" aria-expanded="false")
      span(aria-hidden="true")
      span(aria-hidden="true")
      span(aria-hidden="true")
    nav(class="navbar" role="navigation" aria-label="main navigation")
      div(id="mainNavBar" class="navbar-menu content is-medium")
        div(class="navbar-start")
          a.navbar-item(href="/" class=name === 'home' ? 'active' : undefined).
            Home

          a.navbar-item(href="/team" class=name === 'team' ? 'active' : undefined).
            Team

          a.navbar-item(href="/kontakt" class=name === 'contact' ? 'active' : undefined).
            Kontakt

          a.navbar-item(href="/impressum" class=name === 'impressum' ? 'active' : undefined).
            Impressum
    block content
